<%= form_with(model: [ @answer.question,@answer, @answer.comments.build ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Your comment on the above answer:" %><br>
    <%= form.text_area :body , class: 'form-control' , :required => 'required' ,  placeholder: "Write your comment"%>
  </div>

  <%= form.submit "Submit Comment", class: "btn btn-primary" %>  


<% end %>