<%= form_with(model: [ @question, @question.answers.build ], local: true) do |form| %>
  <p>
    <%= form.label "Your Answer:" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>