<div class="displayWindow">
<div id="Contact" class="fulldiv">
<h1> Contact </h1>
<h2> Docto </h2>
<p>
This is meant to be a Q&A platform with chat support for doctors exclusively
</p>
</div>
<div id="copyrights" class="fulldiv">
<h1> Copyrights </h1>
<div>
<h3>We will uploading the  clear copyrights very soon, for now plese contact via email for permissions.</h3>
</div>
</div>
<div id="devs" class="fulldiv">
<h1> Devs </h1>
<% emails = ["cs16btech11034","cs16btech11039","cs16btech11029" , "cs16btech11002"] %>
<% names = ["shanmukh" , "ujjieve" , "ramkishan" , "harsha"] %>
<% [0,1,2,3].each do |i| %>
<div class="card">
name  : <%= names[i] %>
email : <%= emails[i] %>@iith.ac.in
</div>
<% end %>
</div>
</div>