<div class="container">
  <h1 class="text-uppercase text-center">Docto</h1>
  <hr class="my-4">
  <h2 class="text-capitalize">Application</h2>
  <p class="lead">
    Docto is Question & Answer platform developed specially for doctors.
    This platform can be used to question and get answers from number of other great doctors around the globe.
    On this platform, Doctors can register and can interact with different doctors, from different places, in different
    specializations.
    This platform can be used to get suggestions/advices and give suggestions/advices on the patient condition.
  </p>
  <hr class="my-4">
  <h2 class="text-capitalize">Copyrights &copy</h2>
  <p class="lead">
    We will uploading the clear copyrights very soon. In the mean time,for permissions, please contact the developers.
  </p>
  <hr class="my-4">
  <h2 class="text-capitalize">Developers</h2>
  <div class="container">
    <div class="row">
      <div class="card col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card-body">
          <h5 class="card-title">T Ujjieve</h5>
          <p class="card-text">Worked on the back end development.</p>
          <a class="btn btn-outline-primary" href="mailto:cs16btech11039@iith.ac.in">contact</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card-body">
          <h5 class="card-title">P Ramkishan</h5>
          <p class="card-text">Worked on the back end development.</p>
          <a class="btn btn-outline-primary" href="mailto:cs16btech11029@iith.ac.in">contact</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card-body">
          <h5 class="card-title">A B S Harsha</h5>
          <p class="card-text">Worked on the front end development.</p>
          <a class="btn btn-outline-primary" href="mailto:cs16btech11002@iith.ac.in">contact</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card-body">
          <h5 class="card-title">S Shanmukha Rao</h5>
          <p class="card-text">Worked on the front end development.</p>
          <a class="btn btn-outline-primary" href="mailto:cs16btech11034@iith.ac.in">contact</a>
        </div>
      </div>
    </div>
  </div>
</div>