<div class="displayWindow">
<div id="Contact" class="fulldiv">
<h1> About "Docto" </h1>
<h4>Docto is Question & Answer platform developedd specially for doctors. This platform can be used to question and get answers from number of other great doctors around the globe. On this platform, Doctors can register and can interact with different doctors, from different places, in different specializations.This platform can be used to get suggestions/advices and give suggestions/advices on the patient condition.</h4>
</div>
<div id="copyrights" class="fulldiv">
<h1> Copyrights </h1>
<div>
<h4>We will uploading the  clear copyrights very soon. In the mean time,for permissions, please contact the developers.</h4>
</div>
</div>
<div id="devs" class="fulldiv">
<h1> Contact </h1>
<h2>Docto Developers:</h2>
<% emails = ["cs16btech11039","cs16btech11029","cs16btech11002" , "cs16btech11034"] %>
<% names = ["T.Ujjieve  -" , "P.Ramkishan -" , "A.B.S.Harsha -","Shanmukha Rao S -"] %>
<% [0,1,2,3].each do |i| %>
<div class="card">
Name  : <%= names[i] %>
Email : <%= emails[i] %>@iith.ac.in
</div>
<% end %>
</div>
</div>