<div class="userProfileWindow">
    <h1> Your Intrests </h1>
    <% sintrests  = " "%>
    <% if @intersts != nil %>
    <% @intersts.each do |t| %> 
        <% sintrests += t.tag.name %> 
        <% sintrests += " , "%> 
        <% end %>   
    <% end %>
    <div>
    <%= form_with(as: "userIntersts", url: edit_user_intersts_request_path , html: { method: :put }) do |f| %>

        <div class="form-group">    
        <%= f.text_field :tags, class: 'form-control' , value: sintrests , readonly: true %>
        </div>
         
        <div><b><h4>select tags from below </h4> <h6><i> (* use ctrl+mouse select to select multiple ) </i></h6></b> </div>
       
        <div class="form-group">
        <%= select_tag 'tag_ids', options_from_collection_for_select(@tags,"id","name") , :multiple => true, class: 'form-control'%>
        </div>
        <%= f.submit "Update", class: 'btn btn-secondary' %>
    <% end %>
    </div>
</div>