<%= form_with(model: [ @question,@question.q_comments.build ], local: true) do |form| %>
  <p>
    <%= form.label "Your comment on the above question:" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Submit Comment:",class: "button" %>
  </p>
<% end %>