@import 'bootstrap/dist/css/bootstrap';


.navbar {

background-color: rgba(11, 111, 204, 0.993) !important;
border-radius: 15px;
}
    
     
    
.navbar-brand {

font-size: 2rem;

}

    

h1 {

color: red;

}